<h1 style="text-align:center">Our cats:</h1>
<a class="newCatButton" href="#new">
<img src="assets/grid.png" alt="add cat"/>Add a new cat!</a>
<div class="catsContainer">
<% _.each(cats, function(cat){ %>
 <div class="catBoxSummaryView">
	<a href="#cats/<%= cat.id%>">
	<%= cat.name%>
	</a>
 </div>
<%});%>
</div>

