<h1>Our cats:</h1>
<a class="create" href="#new">Add cat</a>
<div class="catsContainer">
<% _.each(cats, function(cat){ %>
 <div class="catBoxSummaryView">
	<a href="#cats/<%= cat.id%>">
	<%= cat.name%>
	</a>
 </div>
<%});%>
</div>

