.catBoxSummaryView
{
padding:10px;
margin:10px;
float:left;
height:100px;
width:100px;
-moz-border-radius: 35px;
border-radius: 35px;
text-align: center;
vertical-align: middle;
font-size: 22px;
background: -moz-linear-gradient(45deg, rgba(125,150,150,1) 0%, rgba(25,80,80,1) 43%);
}
.catBoxSummaryView a
{
color: #ffffff;
text-shadow: 0 0 1px #222222;
text-decoration: none;
}
.catBoxSummaryView a:hover
{
color: #ffffff;
text-shadow: 0 0 12px #ffffff
}
.catsContainer
{
width:98%;
text-align: center;
clear:both;
}
a.newCatButton
{
color: #555533;
font-size: 20px;
font-weight:600;
text-decoration: none;
}
.newCatButton:hover
{
color: #336699;
text-decoration: none;
}
.newCatButton img
{
color: #992222;
height:70px;
vertical-align:middle
}